<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="{{ .Description }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <title>{{ .Title }} :: licenseplate.wtf</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
    />
    <link rel="stylesheet" href="/app.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <link rel="canonical" href="{{ .Canonical }}" />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      />
    </noscript>
    <link rel="icon" href="/favicon.png" />
    <link rel="manifest" href="/manifest.json" />
  </head>

  <body>
    <div class="container" id="container">
      <nav class="header">
        <span>
        <button class="back" id="back" aria-label="Back">&#x279C;</button>
        </span>
        <a href="/" class="logo">licenseplate.wtf</a>
      </nav>
      <div class="notice">
        <span
          >Please Drive Responsibly.<br />Don't use this site while
          driving.</span
        >
      </div>
      <article class="content">{{ template "content" . }}</article>
      <footer>
        <p>This site is hosted on <a href="https://m.do.co/c/d615b1380243" target="_blank">DigitalOcean</a>. Using this link will give you $200 in credit and helps support this site.</p>
        <nav class="footer center">&copy; {{ time "2006" }} Shreve Labs, LLC</nav>
      </footer>
    </div>
    <script defer type="application/javascript" src="/app.js"></script>
  </body>
</html>
