{{ define "content" }}

<header>
  <h1><span class="wtf">WTF does this mean?</span>
    <div class="license-plate">
      {{- .Plate.Code -}}
    </div>
  </h1>
</header>

<section>
  <h2>What Others Are Saying</h2>
  <ul class="comments">
    {{ range .Plate.Interpretations }}
      <li class="comment">
        <h3 class="what">{{ .What }}</h3>
        <span class="why">{{ .Why }}</span>
        <span class="credit">according to <span class="user">{{ .Username }}</span></span>
      </li>
    {{ else }}
      <li class="comment no-comments">
        <p class="center">
          <em>This license plate doesn't have any interpretations.</em>
          <br>
          <br>
          <em>Want to add yours?</em>
        </p>
      </li>
    {{ end }}
  </ul>
</section>

<section class="comment-form">
  <h2>Add Your Thoughts</h2>

  {{ if .Errors }}
    <ul class="form-errors">
      {{ range .Errors }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
  {{ end }}

  <form action="/plates/{{ .Plate.Code }}/interpretations" method="POST">

    <div class="input">
      <label for="what">What does it mean?</label>
      <input id="what" type="text" name="what" minlength=5 maxlength=30 required/>
    </div>

    <div class="input">
      <label for="why">Why do you think that?</label>
      <textarea id="why" name="why" minlength=10 maxlength=300 required class="autoexpand"></textarea>
    </div>

    <input id="responsibility" type="checkbox" name="responsibility" required/>
    <label for="responsibility">I agree to be responsible</label>

    <div class="input button-input">
      <input type="submit" value="Chime In" />
    </div>

  </form>
</section>
</ul>
{{ end }}
